@{
    ViewData["Title"] = "SettingsAdmin - Gametronca";
    var count = 1;
}
@model SettingVM
<section class="main">
    <div class="header">
        <h1>Contact Informations</h1>
    </div>
    <a class="btn btn-outline-success my-2" href="">Add New Contact Info</a>
    <div class="container">
        <div class="row">
            <table class="table table-striped table-info">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Key</th>
                        <th scope="col">Value</th>
                        <th scope="col">Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Settings)
                    {
                        <tr>
                            <th scope="row">@count</th>
                            <td>@item.Key</td>
                            <td>@item.Value</td>
                            <td><a class="btn btn-warning text-white" asp-action="update" asp-route-key="@item.Key"><i class="fa-solid fa-pen-to-square"></i></a></td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>