@model HeaderVM
<header>
    <div class="navbar">
        <a asp-action="index" asp-controller="home" class="site-name">@Model.Setting["Company Name"]</a>
        <ul class="nav-links">
            <li><a asp-action="index" asp-controller="home" class="nav-link">Home</a></li>
            <li><a asp-action="index" asp-controller="about" class="nav-link">About</a></li>
            <li><a asp-action="index" asp-controller="contact" class="nav-link">Contact</a></li>
            <li><a asp-action="index" asp-controller="blog" class="nav-link">Blog</a></li>
            <li><a href="#team" class="nav-link">Team</a></li>
        </ul>
        <div class="icons">
            <a class="icon" href="./wishlist.html"><i class="fas fa-heart"></i></a>
            <span class="icon" data-name="User" id="userIcon">
                <i class="fas fa-user"></i>
                <div class="dropdown" id="userDropdown">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Account" asp-action="Login" class="dropdown-item">Login</a>
                        <a asp-controller="Account" asp-action="Register" class="dropdown-item">Register</a>
                    }
                    else
                    {
                        <a asp-controller="chat" asp-action="chat" class="dropdown-item">@User.Identity.Name</a>
                        <a asp-controller="Account" asp-action="Logout" class="dropdown-item">Log out</a>
                    }
                    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                    {
                        <a asp-action="index" asp-area="AdminArea" asp-controller="dashboard" class="dropdown-item">Admin Panel</a>
                    }
                </div>
            </span>
            <a class="icon" asp-action="showbasket" asp-controller="basket"><i class="fas fa-shopping-basket"></i></a>
        </div>

        <!-- Responsive start-->
        <div class="bars">
            <i class="fa-solid fa-bars"></i>
            <div class="bars-dropdown">
                <ul>
                    <li class="list"><a href="./index.html">Home</a></li>
                    <li class="list"><a href="./about.html">About</a></li>
                    <li class="list"><a href="./contact.html">Contact</a></li>
                    <li class="list"><a href="./blog.html">Blog</a></li>
                    <li class="list"><a href="#team">Team</a></li>
                    <hr>
                    <li class="list"><a href="./wishlist.html"><i class="fas fa-heart"></i> Wishlist</a></li>
                    <li class="list" id="dropdown-user">
                        <a href="#"><i class="fas fa-user"></i> User</a>
                        <ul class="dropdownUl">
                            <a asp-controller="Account" asp-action="login">
                            <li class="dropdown-list">Login</li></a>
                            <a asp-controller="Account" asp-action="register">
                            <li class="dropdown-list">Register</li></a>
                            <a><li class="dropdown-list">Admin Panel</li></a>
                            <a href="./myacc.html"><li class="dropdown-list">My account</li></a>
                        </ul>
                    </li>
                    <li class="list"><a href="./cart.html"><i class="fas fa-shopping-basket"></i> Basket</a></li>
                </ul>
            </div>
        </div>
        <!-- Responsive end -->
    </div>
</header>
