﻿@{
    ViewData["Title"] = "ForgetPassword";
}

<form method="post">
    <input name="email" style="outline:none; border:1px solid #3498db; padding:.3rem .5rem; color:#3498db; margin:2rem 0 2rem 2rem; width:250px;">
    <span style="font-weight:bold; color:red;" @Html.ValidationMessage("Email")</span>
    <button type="submit" style="border:1px solid #3498db; outline:none; padding:.3rem 1rem; color:#3498db; background:#fff; cursor:pointer;">Send</button>
</form>