@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}
<div  style="margin:2rem 0;">
    <form method="post">
        <div asp-validation-summary="All"></div>

        <div>
            <input style="outline:none; border:1px solid #3498db; padding:.3rem .5rem; color:#3498db; margin:2rem 0 0 2rem; width:250px;" asp-for="Password" />
            <label asp-for="Password" style="color:#3498db;"></label>
        </div>
        <br />
        <div>
            <input style="outline:none; border:1px solid #3498db; padding:.3rem .5rem; color:#3498db; margin: 0 0 1rem 2rem; width:250px;" asp-for="ConfirmedPassword" />
            <label asp-for="ConfirmedPassword" style="color:#3498db;"></label>
        </div>
        <button style="margin-left:2rem; border:1px solid #3498db; outline:none; padding:.3rem 1rem; color:#3498db; background:#fff; cursor:pointer;" type="submit">Send</button>
    </form>

</div>