main {
  position: relative;
}

.card-basket {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 3rem 0;
}
.card-basket .cards-basket {
  width: 69%;
  padding: 0 1rem;
}
.card-basket .cards-basket .card-header {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-radius: 10px;
}
.card-basket .cards-basket .card-header .header-text {
  display: flex;
  align-items: center;
}
.card-basket .cards-basket .card-header .header-text h3 {
  font-size: 30px;
  color: #3498db;
  margin-right: 0.5rem;
}
.card-basket .cards-basket .card-header .header-text span {
  font-size: 18px;
}
.card-basket .cards-basket .card-header .header-button {
  margin: 1rem 0;
}
.card-basket .cards-basket .card-header .header-button a {
  color: #3498db;
  border: 1px solid #3498db;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}
.card-basket .cards-basket .card-products .card-product {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 10px;
}
.card-basket .cards-basket .card-products .card-product .card-image {
  width: 25%;
}
.card-basket .cards-basket .card-products .card-product .card-image img {
  width: 40%;
}
.card-basket .cards-basket .card-products .card-product .card-name {
  width: 55%;
  font-size: 20px;
  color: #3498db;
}
.card-basket .cards-basket .card-products .card-product .card-count {
  width: 20%;
}
.card-basket .cards-basket .card-products .card-product .card-count form i {
  color: #3498db;
  font-size: 25px;
  cursor: pointer;
}
.card-basket .cards-basket .card-products .card-product .card-count form input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #3498db;
  width: 50px;
  padding: 0.5rem;
  font-size: 20px;
  color: #3498db;
}
.card-basket .cards-basket .card-products .card-product .card-count form input:focus {
  border: 1px solid #3498db;
}
.card-basket .cards-basket .card-products .card-product .card-price {
  width: 15%;
  font-size: 20px;
}
.card-basket .cards-basket .card-products .card-product .delete {
  width: 5%;
  font-size: 20px;
  color: red;
}
.card-basket .card-basket-prices {
  width: 29%;
  padding: 1rem;
  background-color: #fff;
  height: 200px;
  border-radius: 10px;
  margin: 0 0.5rem;
}
.card-basket .card-basket-prices .total-price, .card-basket .card-basket-prices .discount-price, .card-basket .card-basket-prices .final-price {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
}
.card-basket .card-basket-prices .total-price p, .card-basket .card-basket-prices .discount-price p, .card-basket .card-basket-prices .final-price p {
  font-size: 20px;
  font-weight: bold;
}
.card-basket .card-basket-prices .total-price .key, .card-basket .card-basket-prices .discount-price .key, .card-basket .card-basket-prices .final-price .key {
  font-size: 18px;
  color: #3498db;
  font-weight: normal;
}
.card-basket .card-basket-prices button {
  width: 100%;
  margin: 1rem 0.5rem;
  padding: 0.5rem 0;
  font-size: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #3498db;
  background-color: #fff;
  border: 1px solid #3498db;
  border-radius: 30px;
  transition: 0.5s;
}
.card-basket .card-basket-prices button:hover {
  background-color: #3498db;
  color: #fff;
}

.card-detail {
  position: absolute;
  background-color: #fff;
  border: 1px solid #3498db;
  border-radius: 10px;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  text-align: center;
}
.card-detail .card-code {
  position: relative;
  margin: 1rem 0;
}
.card-detail .card-code label {
  position: absolute;
  top: 0;
  font-size: 20px;
  color: #3498db;
}
.card-detail .card-code #cardCode {
  outline: 0;
  border: 1px solid #3498db;
  padding: 0.5rem;
  font-size: 20px;
  margin-top: 1.5rem;
  width: 90%;
  border-radius: 10px;
}
.card-detail .card-code #cardCode::-moz-placeholder {
  font-size: 20px;
}
.card-detail .card-code #cardCode::placeholder {
  font-size: 20px;
}
.card-detail .card-date_cvv {
  margin: 1rem 0;
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
}
.card-detail .card-date_cvv label {
  color: #3498db;
  font-size: 20px;
}
.card-detail .card-date_cvv input {
  width: 90%;
  border-radius: 10px;
  outline: 0;
  border: 1px solid #3498db;
  padding: 0.5rem;
  font-size: 20px;
  margin: 0 1rem;
}
.card-detail .card-address {
  text-align: left;
  padding: 0 5%;
  margin: 1rem 0;
}
.card-detail .card-address label {
  color: #3498db;
  font-size: 20px;
}
.card-detail .card-address input {
  width: 100%;
  outline: 0;
  border: 1px solid #3498db;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.3rem 0;
  font-size: 18px;
}
.card-detail button {
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem 0;
  font-size: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #3498db;
  background-color: #fff;
  border: 1px solid #3498db;
  border-radius: 30px;
  transition: 0.5s;
}
.card-detail button:hover {
  background-color: #3498db;
  color: #fff;
}

@media (max-width: 500px) {
  .card-basket {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
  }
  .card-basket .cards-basket {
    width: 75%;
    overflow: hidden;
  }
  .card-basket .cards-basket .card-header {
    padding: 0.3rem 0.5rem;
    background-color: #fff;
    border-radius: 10px;
  }
  .card-basket .cards-basket .card-header .header-text {
    display: flex;
    align-items: center;
  }
  .card-basket .cards-basket .card-header .header-text h3 {
    font-size: 15px;
    color: #3498db;
    margin-right: 0.5rem;
  }
  .card-basket .cards-basket .card-header .header-text span {
    font-size: 12px;
  }
  .card-basket .cards-basket .card-header .header-button {
    margin: 0.5rem 0;
  }
  .card-basket .cards-basket .card-header .header-button a {
    color: #3498db;
    border: 1px solid #3498db;
    padding: 0.2rem 0.5rem;
    font-size: 10px;
    border-radius: 30px;
  }
  .card-basket .cards-basket .card-products .card-product {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 10px;
  }
  .card-basket .cards-basket .card-products .card-product .card-image {
    width: 10%;
  }
  .card-basket .cards-basket .card-products .card-product .card-image img {
    width: 100%;
  }
  .card-basket .cards-basket .card-products .card-product .card-name {
    width: 50%;
    font-size: 8px;
    color: #3498db;
  }
  .card-basket .cards-basket .card-products .card-product .card-count {
    width: 30%;
  }
  .card-basket .cards-basket .card-products .card-product .card-count form i {
    color: #3498db;
    font-size: 8px;
    cursor: pointer;
  }
  .card-basket .cards-basket .card-products .card-product .card-count form input {
    outline: 0;
    border: 0;
    border-bottom: 1px solid #3498db;
    width: 10px;
    padding: 0.5rem;
    font-size: 10px;
    color: #3498db;
  }
  .card-basket .cards-basket .card-products .card-product .card-count form input:focus {
    border: 1px solid #3498db;
  }
  .card-basket .cards-basket .card-products .card-product .card-price {
    width: 15%;
    font-size: 10px;
  }
  .card-basket .cards-basket .card-products .card-product .delete {
    width: 5%;
    font-size: 10px;
    color: red;
  }
  .card-basket .card-basket-prices {
    width: 20%;
    padding: 0.5rem;
    background-color: #fff;
    height: 250px;
    border-radius: 10px;
    margin: 0 0.5rem 0 0;
    overflow: hidden;
  }
  .card-basket .card-basket-prices .total-price, .card-basket .card-basket-prices .discount-price, .card-basket .card-basket-prices .final-price {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
    padding: 0 0.5rem;
  }
  .card-basket .card-basket-prices .total-price p, .card-basket .card-basket-prices .discount-price p, .card-basket .card-basket-prices .final-price p {
    font-size: 10px;
    margin: 0.2rem 0;
    font-weight: bold;
  }
  .card-basket .card-basket-prices .total-price .key, .card-basket .card-basket-prices .discount-price .key, .card-basket .card-basket-prices .final-price .key {
    font-size: 12px;
    color: #3498db;
    font-weight: normal;
  }
  .card-basket .card-basket-prices button {
    width: 100%;
    margin: 0.5rem 0.1rem;
    padding: 0.1rem 0;
    font-size: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: #3498db;
    background-color: #fff;
    border: 1px solid #3498db;
    border-radius: 30px;
    transition: 0.5s;
  }
  .card-basket .card-basket-prices button:hover {
    background-color: #3498db;
    color: #fff;
  }
  .card-detail {
    position: absolute;
    background-color: #fff;
    border: 1px solid #3498db;
    border-radius: 10px;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .card-detail .card-code {
    position: relative;
    margin: 1rem 0;
  }
  .card-detail .card-code label {
    position: absolute;
    top: 0;
    font-size: 20px;
    color: #3498db;
  }
  .card-detail .card-code #cardCode {
    outline: 0;
    border: 1px solid #3498db;
    padding: 0.5rem;
    font-size: 20px;
    margin-top: 1.5rem;
    width: 90%;
    border-radius: 10px;
  }
  .card-detail .card-code #cardCode::-moz-placeholder {
    font-size: 20px;
  }
  .card-detail .card-code #cardCode::placeholder {
    font-size: 20px;
  }
  .card-detail .card-date_cvv {
    margin: 1rem 0;
    padding: 0 5% 0 0;
    display: flex;
    justify-content: space-between;
  }
  .card-detail .card-date_cvv label {
    color: #3498db;
    font-size: 20px;
  }
  .card-detail .card-date_cvv input {
    width: 90%;
    border-radius: 10px;
    outline: 0;
    border: 1px solid #3498db;
    padding: 0.5rem;
    font-size: 20px;
    margin: 0 1rem;
  }
  .card-detail .card-address {
    text-align: left;
    padding: 0 5%;
    margin: 1rem 0;
  }
  .card-detail .card-address label {
    color: #3498db;
    font-size: 20px;
  }
  .card-detail .card-address input {
    width: 100%;
    outline: 0;
    border: 1px solid #3498db;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0.3rem 0;
    font-size: 18px;
  }
  .card-detail button {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem 0;
    font-size: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: #3498db;
    background-color: #fff;
    border: 1px solid #3498db;
    border-radius: 30px;
    transition: 0.5s;
  }
  .card-detail button:hover {
    background-color: #3498db;
    color: #fff;
  }
}/*# sourceMappingURL=card.css.map */