@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
.d-none{
  display: none;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #e0e0e0;
}
.box{
    width: 90%;
    height: 90vh;
    margin: 2rem auto;
    display: flex;
    .box-left{
        width: 20%;
        height: 100%;
        background-color: #3498db;
        border-radius: 30px 0 0 30px;
        .site-name{
            text-align: center;
            margin: 1rem 0;
            color: #fff;
            font-size: 14px;
        }
        img{
            width: 45%;
            border-radius: 100%;
            margin-left: 50%;
            margin-bottom: 1rem;
            transform: translateX(-50%);
        }
        .links{
            margin: 0 1rem;
            p{
                margin: .1rem 0;
                color: #fff;
                padding: .5rem;
                transition: .5s;
                border-radius: 10px;
                &:hover{
                    background-color: #fff;
                    color: #3498db;
                }
                &:hover::before{
                    content: "";
                    position: absolute;
                    left: 5%;
                    width: 3px;
                    height: 20px;
                    background-color: #fff;
                  }
            }
            .active{
              background-color: #fff;
              color: #3498db;
              &::before{
                content: "";
                position: absolute;
                left: 5%;
                width: 3px;
                height: 20px;
                background-color: #fff;
              }
            }
        }
        .fa-right-from-bracket{
            position: absolute;
            top: 84%;
            left: 12.5%;
            color: #fff;
            border: 1px solid #fff;
            padding: .7rem;
            border-radius: 100%;
            transition: .5s;
            &:hover{
                background-color: #fff;
                color: #3498db;
            }
        }
    }
    .box-right{
        width: 80%;
        background-color: #efefef;
        border-radius: 0 30px 30px 0;
        padding: 1rem;
        .header{
          font-size: 25px;
          color: #3498db;
        }
        .home{
          .personal-data{
            display: flex;
            padding: 1.5rem 0;
            #file-upload{
                display: none;
            }
            .edit{
                padding: .5rem;
                color: #3498db;
                &:hover{
                    cursor: pointer;
                }
            }
            img{
              width: 13%;
              border-radius: 100%;
              margin: 0 1rem;
              cursor: pointer;
            }
            .personal-name{
              h1{
                color: #3498db;
                font-size: 40px;
                cursor: pointer;
              }
              .role{
                color: rgb(247, 147,30);
                cursor: pointer;
              }
              span{
                font-size: 13px;
              }
            }
          }
          hr{
            width: 98%;
            margin: 0 auto;
            height: 2px;
            background-color: #3498db;
          }
          .phone-email{
            display: flex;
            justify-content: space-around;
            padding: 4rem 0;
            .phone{
              border: 2px solid #3498db;
              padding: 20px;
              cursor: pointer;
              transition: .5s;
              display: flex;
              align-items: center;
              &:hover{
                transform: translateY(-5px);
              }
              i{
                margin-right: 1rem;
                font-size: 25px;
                color: #3498db;
              }
            }
            .email{
              border: 2px solid #3498db;
              padding: 20px;
              cursor: pointer;
              transition: .5s;
              display: flex;
              align-items: center;
              &:hover{
                transform: translateY(-5px);
              }
              i{
                margin-right: 1rem;
                font-size: 25px;
                color: #3498db;
              }
            }
          }
        }
        .wishlist{
          width: 100%;
          height: 100%;
          overflow: auto;
          &::-webkit-scrollbar {
            width: 8px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #3498db;
            border-radius: 5px;
          }
          &::-webkit-scrollbar-track {
            background-color: transparent;
          }
          .wishlist-products{
            padding: 1rem 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .wishlist-product{
              width: 30%;
              background-color: #fff;
              margin-bottom: 2rem;
              cursor: pointer;
              transition: .5s;
              position: relative;
              &:hover{
                transform: translateY(-5px);
                box-shadow: 0px 5px 5px 0px rgba(120,120,120,0.75);
              }
              .wshlist-product-image{
                position: relative;
                .mainImage{
                  position: absolute;
                  width: 50%;
                  top: 20px;
                  left: 50%;
                  transform: translateX(-50%);
                }
                .discounImage{
                  position: absolute;
                  width: 30%;
                  top: -18px;
                  left:0;
                }
                span{
                  position: absolute;
                  top: 5px;
                  left: 20px;
                  color: #efefef;
                  font-size: 20px;
                  font-weight: bold;
                }
              }
              .links{
                display: flex;
                align-items: center;
                justify-content: space-around;
                background-color: #3498db4d;
                padding: .5rem 0;
                opacity: 0;
                transition: .5s;
                position: absolute;
                width: 100%;
                top: 40%;
                &:hover{
                  opacity: 1;
                }
                a{
                  color: #3498db;
                  font-size: 20px;
                }
              }
              .product-details{
                .name{
                  margin-top: 60%;
                  padding: .5rem;
                  font-size: 20px;
                }
                .description{
                  font-size: 13px;
                  padding: .5rem;
                }
                .price{
                  display: flex;
                  align-items: center;
                  padding: .5rem;
                  .oldprice{
                    font-size: 17px;
                    text-decoration: line-through;
                    font-weight: bold;
                  }
                  .newprice{
                    color: #3498db;
                    font-weight: bold;
                    font-size: 22px;
                    margin: 0 .5rem;
                  }
                }
              }
            }
          }
        }
        .messages{
          width: 100%;
          max-height: 460px;
          overflow: auto;
          &::-webkit-scrollbar {
            width: 8px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #3498db;
            border-radius: 5px;
            margin: 0 .5rem;
          }
          &::-webkit-scrollbar-track {
            background-color: transparent;
          }
          .message-section-header{
            display: flex;
            align-items: center;
            background-color: #fff;
            img{
              width: 4%;
              margin: .5rem;
              border-radius: 100%;
            }
            h1{
              color: #3498db;
            }
            .typing{
              font-size: 15px;
              margin: 0 .5rem;
              color: gray;
            }
            .online{
              width: 10px;
              height: 10px;
              background-color: green;
              margin-left: .5rem;
              border-radius: 100%;
            }
            .offline{
              width: 10px;
              height: 10px;
              background-color: gray;
              margin-left: .5rem;
              border-radius: 100%;
            }
          }
          .mesage-section-body{
            background-color: #3498db57;
            background-size: contain;
            padding: .5rem;
            border-radius: 0 0 20px 20px;
            min-height: 100%;
            overflow: auto;
            .receive{
              background-color: #efefef;
              padding: .4rem;
              margin: .2rem 70% .2rem .2rem;
              display: inline-flex;
              max-width: 300px;
              border-radius: 10px 10px 10px 0;
              word-wrap: break-word;
            }
            .send{
              background-color: #3498db;
              padding: .4rem;
              margin: .2rem .2rem .2rem 70%;
              display: inline-flex;
              float: right;
              text-align: right;
              border-radius: 10px 10px 0px 10px;
            }
            form{
              position: absolute;
              top: 95%;
              z-index: 999;
              width: 67.5%;
              padding: .5rem;
              background-color: #3498db57;
              display: flex;
              align-items: center;
              border-radius: 20px;
              input[type="text"]{
                width: 70%;
                padding: .5rem;
                border-radius: 30px;
                border: 0;
                font-size: 17px;
                &:focus{
                  outline: none;
                }

              }
              i{
                color: #3498db;
                font-size: 25px;
                margin: 0 .8rem;
                cursor: pointer;
              }
              button{
                background-color: #3498db;
                border: 0;
                padding: .5rem 1rem;
                font-size: 17px;
                border-radius: 30px;
                cursor: pointer;
                margin: 0 .6rem;
              }
              .fa-paper-plane{
                color: #fff;
              }
            }
          }
        }
        .security{
          .security-body{
            padding: 2rem 0;
            form{
              position: relative;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-around;
              align-items: center;
              .input{
                margin: 1rem 0;
                label{
                  color: #3498db;
                  display: block;
                  font-size: 20px;
                  margin: .5rem;
                }
                input{
                  width: 400px;
                  padding: .7rem;
                  border-radius: 30px;
                  border: 0;
                  font-size: 17px;
                  &:focus{
                    outline: none;
                  }
                }
                .fa-eye, .fa-eye-slash{
                  position: absolute;
                  top: 72%;
                  right: 9%;
                }
              }
              button{
                background-color: #3498db;
                border: 0;
                padding: .7rem 4rem;
                position: absolute;
                bottom: 20px;
                right: 0;
                border-radius: 30px;
                font-size: 18px;
                cursor: pointer;
                color: #fff;
              }
              .passChange{
                display: block;
                text-align: center;
                margin: 2rem 0;
                color: #fff;
                background-color: #3498db;
                padding: .5rem 0;
                border-radius: 30px;
              }
            }
          }
        }
        .basket{
          width: 100%;
          height: 100%;
          overflow: auto;
          &::-webkit-scrollbar {
            width: 8px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #3498db;
            border-radius: 5px;
          }
          &::-webkit-scrollbar-track {
            background-color: transparent;
          }
          .basket-products{
            padding: 1rem 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .basket-product{
              width: 30%;
              background-color: #fff;
              margin-bottom: 2rem;
              cursor: pointer;
              transition: .5s;
              position: relative;
              &:hover{
                transform: translateY(-5px);
                box-shadow: 0px 5px 5px 0px rgba(120,120,120,0.75);
              }
              .basket-product-image{
                position: relative;
                .mainImage{
                  position: absolute;
                  width: 50%;
                  top: 20px;
                  left: 50%;
                  transform: translateX(-50%);
                }
                .discounImage{
                  position: absolute;
                  width: 30%;
                  top: -18px;
                  left:0;
                }
                span{
                  position: absolute;
                  top: 5px;
                  left: 20px;
                  color: #efefef;
                  font-size: 20px;
                  font-weight: bold;
                }
              }
              .links{
                display: flex;
                align-items: center;
                justify-content: space-around;
                background-color: #3498db4d;
                padding: .5rem 0;
                opacity: 0;
                transition: .5s;
                position: absolute;
                width: 100%;
                top: 40%;
                &:hover{
                  opacity: 1;
                }
                a{
                  color: #3498db;
                  font-size: 20px;
                }
              }
              .product-details{
                .name{
                  margin-top: 60%;
                  padding: .5rem;
                  font-size: 20px;
                }
                .description{
                  font-size: 13px;
                  padding: .5rem;
                }
                .price{
                  display: flex;
                  align-items: center;
                  padding: .5rem;
                  .oldprice{
                    font-size: 17px;
                    text-decoration: line-through;
                    font-weight: bold;
                  }
                  .newprice{
                    color: #3498db;
                    font-weight: bold;
                    font-size: 22px;
                    margin: 0 .5rem;
                  }
                }
              }
            }
          }
        }
        .sale{
          width: 100%;
          height: 100%;
          overflow: auto;
          .export{
            color: #efefef;
            background-color: #3498db;
            text-align: center;
            padding: .5rem 0;
            margin: 1rem 2rem;
          }
          &::-webkit-scrollbar {
            width: 8px;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #3498db;
            border-radius: 5px;
          }
          &::-webkit-scrollbar-track {
            background-color: transparent;
          }
          table{
            width: 100%;
            height: 100%;
            text-align: center;
            thead{
              th{
                padding: 1rem;
              }
            }
            ul{
              display: flex;
              flex-wrap: wrap;
              text-align: left;
              li{
                width: 100%;
                margin: .2rem;
                font-size: 20px;
              }
            }
            .open{
              background-color: #3498db9d;
              padding: 1rem 2rem;
            }
            .close{
              background-color: #3498db4d;
            }
          }
        }
    }
}
@media (max-width: 500px) {
  
.box{
  width: 90%;
  height: 80vh;
  margin: 2rem auto;
  display: flex;
  .box-left{
      width: 30%;
      height: 100%;
      .site-name{
        display: none;
      }
      img{
        display: none;
      }
      .links{
          margin: 3rem .3rem;
          p{
              margin: 1.5rem 0;
              padding: .2rem;
              font-size: 12px;
          }
          .active{
            &::before{
              content: "";
              width: 2px;
              height: 15px;
            }
          }
      }
      .fa-right-from-bracket{
          top: 70%;
          left: 11%;
          padding: 1rem;
          font-size: 20px;
      }
  }
  .box-right{
      width: 70%;
      padding: .1rem;
      .header{
        font-size: 15px;
      }
      .home{
        .personal-data{
          display: flex;
          padding: .5rem 0;
          .edit{
              padding: .1rem;
              color: #3498db;
              font-size: 10px;
              &:hover{
                  cursor: pointer;
              }
          }
          img{
            width: 20%;
            height: 20%;
            margin: 0 .1rem;
          }
          .personal-name{
            h1{
              font-size: 15px;
            }
            .role{
              font-size: 10px;
            }
            span{
              font-size: 10px;
            }
          }
        }
        hr{
          width: 98%;
          margin: 0 auto;
          height: 2px;
          background-color: #3498db;
        }
        .phone-email{
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          padding: .4rem 0;
          .phone{
            border: 2px solid #3498db;
            padding: 10px;
            cursor: pointer;
            transition: .5s;
            display: flex;
            align-items: center;
            font-size: 10px;
            margin: 1rem 0;
            &:hover{
              transform: translateY(-5px);
            }
            i{
              margin-right: .1rem;
              font-size: 10px;
              color: #3498db;
            }
          }
          .email{
            border: 2px solid #3498db;
            padding: 10px;
            cursor: pointer;
            transition: .5s;
            display: flex;
            align-items: center;
            font-size: 10px;
            &:hover{
              transform: translateY(-5px);
            }
            i{
              margin-right: .1rem;
              font-size: 10px;
              color: #3498db;
            }
          }
        }
      }
      .wishlist{
        .wishlist-products{
          padding: .1rem .5rem;
          .wishlist-product{
            width: 100%;
            margin-bottom: 1rem;
            &:hover{
              transform: translateY(0px);
              box-shadow: 0px 0px 0px 0px rgba(120,120,120,0.75);
            }
            .wshlist-product-image{
              .mainImage{
                width: 45%;
              }
              .discounImage{
                top: -13px;
              }
              span{
                left: 15px;
                top: 10px;
                font-size: 16px;
              }
            }
            .links{
              top: 45%;
              padding: .5rem 0;
              opacity: 1;
              a{
                font-size: 15px;
              }
            }
            .product-details{
              .name{
                padding: .2rem;
                font-size: 12px;
              }
              .description{
                font-size: 9px;
                padding: .2rem;
              }
              .price{
                padding: .1rem;
                .oldprice{
                  font-size: 12px;
                }
                .newprice{
                  font-size: 17px;
                  margin: 0 .5rem;
                }
              }
            }
          }
        }
      }
      .messages{
        .message-section-header{
          display: flex;
          align-items: center;
          background-color: #fff;
          img{
            width: 10%;
            margin: .1rem;
          }
          h1{
            font-size: 15px;
          }
          .typing{
            font-size: 10px;
            margin: 0 .1rem;
          }
          .online{
            width: 7px;
            height: 7px;
            margin-left: .1rem;
          }
          .offline{
            width: 7px;
            height: 7px;
            margin-left: .1rem;
          }
        }
        .mesage-section-body{
          padding: .1rem;
          overflow: hidden;
          .receive{
            padding: .2rem;
            margin: .1rem 60% .1rem .1rem;
            font-size: 10px;
          }
          .send{
            padding: .2rem;
            margin: .1rem .1rem .1rem 60%;
            font-size: 10px;
          }
          form{
            top: 90%;
            width:55%;
            padding: .4rem .5rem;
            input[type="text"]{
              width: 70%;
              padding: .4rem;
              font-size: 11px;

            }
            i{
              font-size: 11px;
              margin: 0.1rem;
            }
            button{
              padding: .1rem;
              font-size: 6px;
              margin: 0 .1rem;
            }
            .fa-paper-plane{
              font-size: 8px;
            }
          }
        }
      }
      .security{
        .security-body{
          padding: .1rem 0;
          form{
            .input{
              margin: .5rem 0;
              label{
                font-size: 15px;
                margin: .5rem;
              }
              input{
                width: 220px;
                padding: .7rem .4rem;
                font-size: 12px;
              }
            }
            button{
              padding: .4rem 1rem;
              bottom: -20px;
              right: 10px;
              font-size: 15px;
            }
            .passChange{
              margin: 1rem 0;
              padding: .5rem 0;
              font-size: 12px;
            }
          }
        }
      }
      .basket{
        .basket-products{
          padding: .1rem .5rem;
          .basket-product{
            width: 100%;
            margin-bottom: 1rem;
            &:hover{
              transform: translateY(0px);
              box-shadow: 0px 0px 0px 0px rgba(120,120,120,0.75);
            }
            .basket-product-image{
              .mainImage{
                width: 45%;
              }
              .discounImage{
                top: -13px;
              }
              span{
                left: 15px;
                top: 10px;
                font-size: 16px;
              }
            }
            .links{
              top: 45%;
              padding: .5rem 0;
              opacity: 1;
              a{
                font-size: 15px;
              }
            }
            .product-details{
              .name{
                padding: .2rem;
                font-size: 12px;
              }
              .description{
                font-size: 9px;
                padding: .2rem;
              }
              .price{
                padding: .1rem;
                .oldprice{
                  font-size: 12px;
                }
                .newprice{
                  font-size: 17px;
                  margin: 0 .5rem;
                }
              }
            }
          }
        }
      }
      .sale{
        table{
          padding: 0 .1rem;
          margin-top: .5rem;
          td{
            font-size: 10px
          }
          thead{
            th{
              padding: 0rem;
              font-size: 10px;
            }
          }
          ul{
            li{
              width: 100%;
              margin: .1rem;
              font-size: 10px;
            }
          }
          .open{
            padding: .1rem .2rem;
          }
        }
        .export{
          color: #efefef;
          background-color: #3498db;
          padding: .2rem .5rem;
          border-radius: 30px;
          font-size: 15px;
        }
      }
  }
}
}